body {
  background-image: url("background3.png");
  background-size:auto 100vh;
  opacity: 20;
  font-family: Arial;
  height: 100vh;
  }

.menu {

}

.menu ul {
  display: flex;
  justify-content: space-around;
}

/*todas as li da classe menu perdem o ponto*/
.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

/*subclasse a*/
a:hover {
  text-decoration: underline;
}

/*reaproveitamento de codigo usando casse,classe,subclasse...*/
.site-subtitle,
.site-title {
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}
